@model IEnumerable<Compuwreck_001.Models.Page>

@{
    ViewBag.Title = "Index";
}

<div class="row  color">
    <div class="large-12 columns">
        <h2 class="title search">Search Site Pages</h2>
    </div>
</div>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="large-12 columns blogRollDate">
             <h2>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </h2>
        </div>

    <div class="large-12 columns blogRollTitle">
        <h2>
            @Html.DisplayFor(modelItem => item.PageTitle)
        </h2>
    </div>

    <div class="large-12 columns blogRollBody">
        @Html.DisplayFor(modelItem => item.Body)
    </div>
    <div class="large-12 columns blogRollAction right">
        @Html.ActionLink("EDIT", "Edit", null, new { id = item.PostId }, new { @Class = "button tinyR" })
        @Html.ActionLink("READ", "Details", null, new { id = item.PostId}, new { @Class = "button tinyR" })
        @Html.ActionLink("DELETE", "Delete", null, new { id = item.PostId }, new { @Class = "button tinyR" })

    </div>
    }
    </div>

