@model Compuwreck_001.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <h2 class="pageTitle">@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        <div class="large-6 small-centered columns">
            <span class="alert-box alert">@Html.ValidationSummary()</span>
            <div class="panel callout radius">
                Use the form below to create a new account. Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
            </div>

            <fieldset class="account">
                <legend>Account Information</legend>

                @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
                @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})

                @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})


                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})

                <hr/>

                @Html.LabelFor(m => m.FirstName, new {@class = "col-md-2 control-label"})
                @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})

                @Html.LabelFor(m => m.LastName, new {@class = "col-md-2 control-label"})
                @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})


                @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})

                <input type="submit" value="Register" class="button expand" />
            </fieldset>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>