@model Compuwreck_001.Models.Photo

@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <h2 class="deleteTitle"> Delete image record</h2>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Photo_id)
    <div class="panel alert-box alert">
        <span class="alert">Warning! Are you sure you want to delete this record?</span>
    </div>
</div>


    <div class="row">
        <div class="large-6 columns">
            <dl class="dlleft">
                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>@Html.DisplayFor(model => model.Name)</dd>
                <dt>@Html.DisplayNameFor(model => model.Details)</dt>
                <dd> @Html.DisplayFor(model => model.Details)</dd>
            </dl>
        </div>
        <hr class="dotted"/>
    </div>

@using (Html.BeginForm()) {
     @Html.AntiForgeryToken()
<div class="row">
    <div class="large-6 columns">
        @Html.ActionLink("Back to Shipwreck", "Edit", "Shipwreck", new { @id = Model.Shipwreck_id }, new { @class = "button" })
    </div>
    <div class="large-6 columns">
        <input type="submit" value="Delete" class="button right" />
    </div>
        
</div>
}


