@model Compuwreck_001.Models.Shipwreck

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <br />
    <div class="row color">
        <h2 class="title add">Add Shipwreck</h2>
        @Html.ValidationSummary(true)
    </div>
    <br />
    <div class="row color">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </div>
    <br/>
    <div class="row color">
        <div class="large-4 columns">
            @Html.LabelFor(model => model.Type)
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.Dimensions)
            @Html.EditorFor(model => model.Dimensions)
            @Html.ValidationMessageFor(model => model.Dimensions)
        </div>
        <div class="large-4 columns">
            @Html.LabelFor(model => model.Tonnage)
            @Html.EditorFor(model => model.Tonnage)
            @Html.ValidationMessageFor(model => model.Tonnage)
        </div>
    </div>
    <br />
    <div class="row color">
        <div class="large-4 columns left">
            @Html.LabelFor(model => model.DateLost)
            @Html.EditorFor(model => model.DateLost)
            @Html.ValidationMessageFor(model => model.DateLost)
        </div>

        <div class="large-4 columns">
            @Html.LabelFor(model => model.County_FK, "County")
            @Html.DropDownList("County_FK", String.Empty)
        </div>

        <div class="large-4 columns">
            @Html.LabelFor(model => model.Locality)
            @Html.EditorFor(model => model.Locality)
            @Html.ValidationMessageFor(model => model.Locality)
        </div>
    </div>

    <br />
    <div class="row color">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.WindDir, "Wind Direction")
            @Html.EditorFor(model => model.WindDir)
            @Html.ValidationMessageFor(model => model.WindDir)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.WindForce, "Wind Force")
            @Html.EditorFor(model => model.WindForce)
            @Html.ValidationMessageFor(model => model.WindForce)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.Armament)
            @Html.EditorFor(model => model.Armament)
            @Html.ValidationMessageFor(model => model.Armament)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.Cargo)
            @Html.EditorFor(model => model.Cargo)
            @Html.ValidationMessageFor(model => model.Cargo)
        </div>
    </div>
    <br />
    <div class="row color">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.References)
            @Html.EditorFor(model => model.References)
            @Html.ValidationMessageFor(model => model.References)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.Remarks)
            @Html.EditorFor(model => model.Remarks)
            @Html.ValidationMessageFor(model => model.Remarks)
        </div>
    </div>
    <br />
    <div class="row color">
        <div class="large-6 columns">
            @Html.LabelFor(model => model.Event_FK, "Event Type")
            @Html.DropDownList("Event_FK", String.Empty)
            @Html.ValidationMessageFor(model => model.Event_FK)
        </div>
        <div class="large-6 columns">
            @Html.LabelFor(model => model.U_Boat)
            @Html.EditorFor(model => model.U_Boat)
            @Html.ValidationMessageFor(model => model.U_Boat)
        </div>
    </div>
    <br />
    <div class="row color">
        <div class="large-6 columns">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button left" })
        </div>
        <div class="large-6 columns">
            <input type="submit" value="Create" class="button right" />
        </div>
    </div>
}
<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
