@model Compuwreck_001.Models.Shipwreck

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="row color">
    <div class="large-12 columns">
        <h2 class="title details">Details</h2>
        <div class="buttonsRight">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "button" })
            <input type="submit" value="Delete" class="button" />
        </div>
    </div>
</div>
<br />
<div class="row color ">
    <div class="large-6 columns">
        <dl class="dlleft">
            @Html.HiddenFor(model => model.Shipwreck_id)

            <dt>Ship Name @Html.DisplayFor(model => model.Name)</dt>
            <dd>@Html.DisplayFor(model => model.Name)</dd>
            <dt>@Html.DisplayNameFor(model => model.DateLost)</dt>
            <dd>@Html.DisplayFor(model => model.DateLost)</dd>

            <dt>@Html.DisplayNameFor(model => model.County.Location)</dt>
            <dd>@Html.DisplayFor(model => model.County.Location)</dd>

            <dt>@Html.DisplayNameFor(model => model.Locality)</dt>
            <dd>@Html.DisplayFor(model => model.Locality)</dd>
        </dl>
    </div>
    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.Type)</dt>
            <dd>@Html.DisplayFor(model => model.Type)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dimensions)</dt>
            <dd>@Html.DisplayFor(model => model.Dimensions)</dd>

            <dt>@Html.DisplayNameFor(model => model.Tonnage)</dt>
            <dd>@Html.DisplayFor(model => model.Tonnage)</dd>
        </dl>
    </div>
    <div class="large-6 columns">

    </div>
</div>
<br />

<div class="row color">
    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.Armament)</dt>
            <dd>@Html.DisplayFor(model => model.Armament)</dd>
            <dt>@Html.DisplayNameFor(model => model.Cargo)</dt>
            <dd>@Html.DisplayFor(model => model.Cargo)</dd>
        </dl>
    </div>

    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.WindDir)</dt>
            <dd>@Html.DisplayFor(model => model.WindDir)</dd>
            <dt>@Html.DisplayNameFor(model => model.WindForce)</dt>
            <dd>@Html.DisplayFor(model => model.WindForce)</dd>
        </dl>
    </div>
</div>

<br />
<div class="row color">
    <div class="large-12 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.References)</dt>
            <dd>@Html.DisplayFor(model => model.References)</dd>

            <dt>@Html.DisplayNameFor(model => model.Remarks)</dt>
            <dd>@Html.DisplayFor(model => model.Remarks)</dd>
        </dl>
    </div>
</div>
<br />
<div class="row color">
    <h3 class="related">Related Images:</h3>


    @if (Model.Photos.Count > 0) {

        <div class="large-12 columns">
            <table class="table">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                @foreach (var item in Model.Photos) {
                    <tr>
                        <td width="30%"><img src="@Url.Content(item.URL + "/thumbs/" + item.FileName)" width="100" height="90" /></td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td width="15%">
                            <textarea readonly="readonly" class="@item.Photo_id" style="display: none;">@item.FileName</textarea>
                            <a href="#" data-reveal-id="myModal" id="@item.Photo_id" class="@item.Shipwreck_id editForm"><span class="button tiny">View</span></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <br />
    }
    else {

        <div class="panel radius">
            <p>There are no images associated with this shipwreck</p>
        </div>
        <br />

    }
</div>

