@model Compuwreck_001.Models.Shipwreck

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2 class="pageTitle">Details</h2>
</div>
<div class="row">
    <div class="large-12 columns">
        <h4>@Html.DisplayFor(model => model.Name)</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.DateLost)</dt>
            <dd>@Html.DisplayFor(model => model.DateLost)</dd>

            <dt>@Html.DisplayNameFor(model => model.County.Location)</dt>
            <dd>@Html.DisplayFor(model => model.County.Location)</dd>

            <dt>@Html.DisplayNameFor(model => model.Locality)</dt>
            <dd>@Html.DisplayFor(model => model.Locality)</dd>
        </dl>
    </div>

    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.Type)</dt>
            <dd>@Html.DisplayFor(model => model.Type)</dd>

            <dt>@Html.DisplayNameFor(model => model.Dimensions)</dt>
            <dd>@Html.DisplayFor(model => model.Dimensions)</dd>

            <dt>@Html.DisplayNameFor(model => model.Tonnage)</dt>
            <dd>@Html.DisplayFor(model => model.Tonnage)</dd>
        </dl>
    </div>
    <hr />
</div>



<div class="row">
    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.Armament)</dt>
            <dd>@Html.DisplayFor(model => model.Armament)</dd>
            <dt>@Html.DisplayNameFor(model => model.Cargo)</dt>
            <dd>@Html.DisplayFor(model => model.Cargo)</dd>
        </dl>
    </div>

    <div class="large-6 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.WindDir)</dt>
            <dd>@Html.DisplayFor(model => model.WindDir)</dd>

            <dt>@Html.DisplayNameFor(model => model.WindForce)</dt>
            <dd>@Html.DisplayFor(model => model.WindForce)</dd>
        </dl>
    </div>
    <hr />
</div>


<div class="row">
    <div class="large-12 columns">
        <dl class="dlleft">
            <dt>@Html.DisplayNameFor(model => model.References)</dt>
            <dd>@Html.DisplayFor(model => model.References)</dd>

            <dt>@Html.DisplayNameFor(model => model.Remarks)</dt>
            <dd>@Html.DisplayFor(model => model.Remarks)</dd>
        </dl>
    </div>
    <hr />
</div>

<div class="row">
    <div class="large-12 columns">
        <table class="table">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.Photos) {
                <tr >
                    <td width="30%"><img src="@Url.Content(item.URL + "/thumbs/" + item.FileName)" width="100" height="90" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td width="15%">
                        <textarea readonly="readonly" class="@item.Photo_id" style="display:none;" >@item.FileName</textarea>
                        <a href="#" data-reveal-id="myModal" id="@item.Photo_id" class="@item.Shipwreck_id editForm">View</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
</div>


<div class="row">
    <p>
        @Html.ActionLink("Edit", "Edit", null, new {id = Model.Shipwreck_id, @class = "button"})
        @Html.ActionLink("Back to List", "Index", null, new {@class = "button right"})
    </p>
</div>



<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <img src="" id ="largeIamge" />
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>




<script>
    $(".editForm").click(function () {
            //--Declare vars and assign values
            var photoId = this.id;
            var shipwerckId = (jQuery(this).attr('class').split(' ')[0]);
            var imageName = $("." + photoId).val();

            //--Create url using vars
            var url = "/shipwreckImages/" + shipwerckId + "/" + imageName;

            //--Set values in modal
            $("#largeIamge").attr("src", url);
        });
    </script>































