@model Compuwreck_001.Models.Shipwreck

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Shipwreck</h4>
        <hr/>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Shipwreck_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dimensions, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dimensions)
                @Html.ValidationMessageFor(model => model.Dimensions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tonnage, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tonnage)
                @Html.ValidationMessageFor(model => model.Tonnage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Armament, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Armament)
                @Html.ValidationMessageFor(model => model.Armament)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateLost, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateLost)
                @Html.ValidationMessageFor(model => model.DateLost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateExtn, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateExtn)
                @Html.ValidationMessageFor(model => model.DateExtn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Locality, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Locality)
                @Html.ValidationMessageFor(model => model.Locality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PosExtn, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PosExtn)
                @Html.ValidationMessageFor(model => model.PosExtn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cargo, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cargo)
                @Html.ValidationMessageFor(model => model.Cargo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WindDir, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.WindDir)
                @Html.ValidationMessageFor(model => model.WindDir)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WindForce, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.WindForce)
                @Html.ValidationMessageFor(model => model.WindForce)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.References, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.References)
                @Html.ValidationMessageFor(model => model.References)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.U_Boat, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.U_Boat)
                @Html.ValidationMessageFor(model => model.U_Boat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Event_FK, "Event_FK", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("Event_FK", String.Empty)
                @Html.ValidationMessageFor(model => model.Event_FK)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.County_FK, "County_FK", new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("County_FK", String.Empty)
                @Html.ValidationMessageFor(model => model.County_FK)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Photo Name</th>
            <th>Shipwreck ID</th>
            <th>Photo ID</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model.Photos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Shipwreck_id)</td>
                <td>@Html.DisplayFor(modelItem => item.Photo_id)</td>
                <td>@Html.ActionLink("Delete Photo", "Delete", "Photo", new { id = item.Photo_id }, null)
                     
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Add new Photo", "Create", "Photo", new { shipwreckId = Model.Shipwreck_id }, null)
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
