
@model Compuwreck_001.viewModels.homeAll

@{
    ViewBag.Title = "Home Page";
}
<br/>
@using (Html.BeginForm())
    {
<div class="row">
    <div class="large-9 columns">
        @foreach (var item in Model.Pages)
        {
            <div class="large-12 columns blogRollDate">
                <h2>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </h2>
            </div>

            <div class="large-12 columns blogRollTitle">
                <h2>
                    @Html.DisplayFor(modelItem => item.PageTitle)
                </h2>
            </div>

            <div class="large-12 columns blogRollBody">
                @Html.DisplayFor(modelItem => item.Body)
            </div>
            <div class="large-12 columns blogRollAction right">
                @Html.ActionLink("EDIT", "Edit", "Page", new { id = item.PostId }, new { @Class = "button tinyR" })
                @Html.ActionLink("READ", "Details", "Page", new { id = item.PostId }, new { @Class = "button tinyR" })
                @Html.ActionLink("DELETE", "Delete", "Page", new { id = item.PostId }, new { @Class = "button tinyR" })
            </div>
        }

    </div>
    <div class="large-3 columns">
        <div class="panel">
            <h3>Featured Shipwreck</h3>
            <div class="panel callout">
                CONTENT
            </div>
        </div>
        <div class="panel">
            <h3>Weather Update</h3>
            <div class="panel callout">
                CONTENT
            </div>
        </div>
        <div class="panel">
            <h3>Featured Book</h3>
            <div class="panel callout">
                CONTENT
            </div>
        </div>
    </div>
</div>
}