<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    @Styles.Render("~/Content/css/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

        @Html.Partial("_PrimaryNavigation")



    @RenderBody()
    <div class="row">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - IrishWrecks</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/foundation/foundation.js"></script>
    <script src="~/Scripts/foundation/foundation.reveal.js"></script>


    <script>
        $(document).foundation();
    </script>



</body>
</html>
